<main>
   <h1>es-beacon</h1>

   <h3>
      Github: <a href="https://github.com/EikeSchmidt/beacon">github.com/EikeSchmidt/beacon</a>
   </h3>

   <section>
      <es-example-use-cases></es-example-use-cases>
   </section>


   <section>
      <es-example-color></es-example-color>
   </section>


   <section>
      <es-example-size></es-example-size>
   </section>


   <section>
      <es-example-frequency></es-example-frequency>
   </section>


   <section>
      <es-example-position></es-example-position>
   </section>


   <section>
      <es-example-synchronisation></es-example-synchronisation>
   </section>


   <section>
      <es-example-beacon-container></es-example-beacon-container>
   </section>


   <section>
      <es-example-default-values></es-example-default-values>
   </section>
</main>
